# github account token
# github.com →
# Settings →
# Developer settings →
# Personal access tokens →
# Fine-grained token 発行
# （pull_requests: write 権限のみで OK）
CODEX_REVIEW_TOKEN=xxxxxxx

# slack webhooks URL for stop hook of claude and codex
# You can find the Webhook URL in Slack under "App Management → Incoming Webhooks."
export CLAUDE_CODE_KIT_WAIT_NOTIFY_SLACK_WEBHOOK_URL=


