# Exclude Gemini CLI specific files
.gemini/oauth_creds.json
.gemini/tmp/
.gemini/__pycache__/
.gemini/history/
.config/configstore/update-notifier-@google/gemini-cli.json

# vim plugins
.vim/plugged/

# compiled files
*.zwc

# Exclude log files
*.log
*.log.*

# Exclude tags files
tags

# Exclude backup files and directories
bk_*
bk_*/
mac_osx/karabiner_elements/automatic_backups/

# Exclude environment files and virtual environments
tools/deepl-translate-en/.env
tools/deepl-translate-en/venv/
bin/deepl-translate-en

# Exclude Vagrant
.vagrant.d


