# Exclude Gemini CLI specific files
.gemini/oauth_creds.json
.gemini/tmp/
.gemini/__pycache__/
.gemini/history/

# vim plugins
.vim/plugged/

# compiled files
*.zwc

# Exclude log files
*.log
*.log.*

# Exclude backup files and directories
bk_*
bk_*/
mac_osx/karabiner_elements/automatic_backups/
