# brackets - (
snippet (
	(${1})${2}

# brackets - $(
snippet $(
	$(${1})${2}

# brackets - {
snippet {
	{${1}}${2}

# brackets - ${
snippet ${
	${${1}}${2}

# brackets - <
snippet <
	<${1}>${2}

# brackets - [
snippet [
	[${1}]${2}

# brackets - '
snippet '
	'${1}'${2}

# brackets - "
snippet "
	"${1}"${2}

