snippet for for i in items
	for ${1:item} in ${2:items}):
		${0}

snippet forr for i in range():
	for ${1:item} in range(${2:items}):
		${0}

snippet forrl for i in range(len()):
	for ${1:item} in range(len(${2:items})):
		${0}

