"*":
  "exception-reporting":
    userId: "b4e3f08f-a935-74f4-2765-ab93f600e333"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "isotope-ui"
      "base16-ocean-dark"
    ]
    disabledPackages: [
      "SFTP-deployment"
      "web-view"
    ]
  editor:
    invisibles:
      {}
    lineHeight: 1.5
    tabLength: 4
    fontFamily: "Ricty Diminished"
    autoIndent: false
    fontSize: 14
  "SFTP-deployment":
    uploadOnSave: false
  docblockr:
    {}
  minimap:
    {}
  "one-dark-ui":
    {}
  "isotope-ui":
    backgroundColor: "false"
    customBackgroundColorPicker:
      red: 28
      green: 31
      blue: 40
      alpha: 1
    customBackgroundColor: true
    fontWeight: "Extra light / Thin"
  "unity-ui":
    showIcons: true
    colorStatusIndicatorsInTreeView: true
